/* Copyright (c) 2023, Motorola Mobility Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&moto_chg_tcmd {
	mmi,batt-ids-map = "1", "ATLSP50NVT";
};

&bp_thl {
	soc-limit-threshold = <5>;
};

&charger {
	battery-cv = <4530000>;
	mmi,iterm-ma = <243>;
	mmi,mmi-temp-zones = <0 4200 970 0>,
				<10 4250 4850 2425>,
				<15 4530 4850 4850>,
				<45 4150 12000 10000>,
				<45 4250 10000 8000>,
				<45 4350 8000 6000>,
				<45 4450 6000 4870>,
				<45 4530 4870 4870>,
				<60 4200 4850 0>;
	mmi,mmi-ffc-zones = <0 4200 243>,
				<10 4530 243>,
				<15 4530 243>,
				<25 4560 802>,
				<35 4560 937>,
				<45 4560 1159>,
				<60 4200 243>;
	mmi,mmi-normal-zones = <0 4200 243>,
				<10 4530 243>,
				<15 4530 243>,
				<25 4530 243>,
				<35 4530 243>,
				<45 4530 487>,
				<60 4200 243>;
};

/*End of this file, DO NOT ADD ANYTHING HERE*/


